[Unit]
Description=SJNmusic Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sjnmusicd
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target